<!-- Agrega el contenedor adicional para el texto -->

<section class="seccion1 bg-light py-0">
  <div class="container main-container">
    <div id="texto3D">
      <div class="imagen-container">
        <img
          class="imagen"
          src="assets/img/logo.png"
          style="width: 180px; height: 180px"
          alt="..."
        />
      </div>
      <h1 class="display-4 text-center text-sm-left">Inmbobiliaria Works</h1>
    </div>
    <app-modelo3d></app-modelo3d>
  </div>
</section>

<section class="seccionM d-flex align-items-center justify-content-center p-5">
  <p>Construyendo sueños, creando hogares</p>
</section>
<section class="seccion2 d-flex align-items-center">
  <div class="cont2 text-center">
    <h1 class="edit2 pt-5">
      Viviendo en el corazón de la comodidad: Tu espacio, tu estilo.
    </h1>
    <div class="cont3">
      <app-modelo3d2></app-modelo3d2>
    </div>
  </div>
</section>
<section class="seccion3 container main-container d-flex align-items-center">
  <div class="cont2 text-center">
    <h1 class="edit3 pt-2">
      Viviendo en el corazón de la comodidad: Tu espacio, tu estilo.
    </h1>
    <div class="cont3">
      <p class="text-justify pt-3 pb-2">
        Con un equipo de profesionales apasionados por el bienes raíces, nos
        esforzamos por comprender tus necesidades y aspiraciones para guiarte
        hacia la elección perfecta. Desde apartamentos modernos hasta acogedoras
        residencias, nuestro portafolio abarca una amplia gama de opciones que
        se adaptan a todos los estilos de vida.
      </p>
      <p class="text-justify pb-2">
        Nos enorgullece no solo
        ofrecer propiedades de alta calidad, sino también construir relaciones
        sólidas basadas en la confianza y la transparencia. Trabajamos
        incansablemente para proporcionar un servicio excepcional desde el
        primer contacto hasta la entrega de llaves, asegurándonos de que cada
        paso del camino sea una experiencia sin complicaciones.
      </p>
      <p class="text-justify pb-2">

        inmobiliaria, no solo vendemos propiedades, creamos hogares. Tu búsqueda
        del lugar perfecto termina aquí, donde cada detalle cuenta y cada
        cliente es parte de nuestra historia de éxito. ¡Bienvenido a tu próximo
        capítulo de vida con nosotros!
      </p>

    </div>
    <h1 class="lead display-4 p-5">
      Proyectos inmobiliarios
    </h1>
    <div class="card-columns">

      <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>

          <button (click)="verHeroes(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>

    <!--
       <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más...</a>

       -->

        </div>
      </div>
    </div>

  </div>

</section>
