<!-- Agrega el contenedor adicional para el texto -->

<section class="seccion1 bg-light py-0">
  <div class="container main-container">
    <div id="texto3D">
      <div class="imagen-container">
        <img
          class="imagen"
          src="assets/img/logo.png"
          style="width: 180px; height: 180px"
          alt="..."
        />
      </div>
      <h1 class="display-4 text-center text-sm-left">
        Inmbobiliaria Works
      </h1>
    </div>
    <app-modelo3d></app-modelo3d>
  </div>
</section>

<section class="seccionM d-flex align-items-center justify-content-center p-5">
  <p>Construyendo sueños, creando hogares</p>
</section>
<section class="seccion2 d-flex align-items-center">
  <div class="cont2 text-center">
    <h1 class="edit2 pt-5">Viviendo en el corazón de la comodidad: Tu espacio, tu estilo.</h1>
    <div class="cont3">
      <app-modelo3d2></app-modelo3d2>
    </div>
  </div>
</section>
