  <router-outlet></router-outlet>
  <section class="seccionF d-flex align-items-center justify-content-center p-5">

    <div class="row animated fadeIn fast edit3">
      <div class="col-md-8">
      <h1 class="animated fadeIn"><strong>Contacto</strong></h1>
        <hr>
        <p>
          ¡Gracias por tu interés en nuestros proyectos inmobiliarios en toda
          Colombia! Estamos aquí para responder a todas tus preguntas y brindarte
          la información que necesitas para encontrar la casa de tus sueños. No
          dudes en ponerte en contacto con nuestro equipo en cualquiera de
          nuestras ubicaciones:
        </p>
        <h2><strong>Dirección de Oficina Principal:</strong></h2>
        <p>Carrera 20 #45-67, Piso 10, Bogotá, Colombia</p>
        <p>
          <strong>Horario de Atención:</strong> Lunes a Viernes, de 9:00 am a 6:00
          pm
        </p>
      </div>
      <div class="col-md-4">
        <h3><strong>Correo Electrónico</strong></h3>
        <hr />
        <p>info@inmobiliariaejemplo.com</p>

        <h3><strong>Teléfono Central</strong></h3>
        <ul>
          <li>Línea Gratuita Nacional: 1-800-123-456</li>
          <li>Teléfono Local Bogotá: (571) 234-5678</li>
          <li>Teléfono Local Medellín: (574) 345-6789</li>
          <li>Teléfono Local Cartagena: (575) 456-7890</li>
          <li>Teléfono Local Cali: (572) 567-8901</li>
          <li>Teléfono Local Bucaramanga: (577) 678-9012</li>
          <li>Teléfono Local Pereira: (576) 789-0123</li>
          <li>Teléfono Local Manizales: (578) 890-1234</li>
        </ul>
      </div>
    </div>
  </section>

