
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.edit3 {
  font-family: 'Montserrat', sans-serif;

  color: white;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .tamañoLetra1{
    font-size: 35px;
  }

  .tamañoLetra2{
    font-size: 25px;
  }
}
