<div class="container main-container letra p-4">
  <div class="overlay"></div>

  <app-modelo3d4></app-modelo3d4>
  <h1 class="animated fadeIn"><strong>{{ heroe.nombre }}</strong></h1>
  <hr />

  <div class="row animated fadeIn fast pb-5">
    <div class="col-md-4">
      <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre" />
      <br /><br />
      <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block"
        >Regresar</a
      >
    </div>

    <div class="col-md-8 division">
      <h3><strong>{{ heroe.nombre }}</strong></h3>
      <hr />
      <p>
        <strong>{{ heroe.bio }}</strong>
      </p>

      <div>
        <img
          *ngIf="heroe.casa == 'Marvel'"
          class="img-logo"
          src="assets/img/marvel.png"
          alt=""
        />
        <img
          *ngIf="heroe.casa == 'DC'"
          class="img-logo"
          src="assets/img/dc.png"
          alt=""
        />
      </div>
      <h3><strong>Ubicación</strong></h3>
      <p>
        <strong> {{ heroe.ubicacion }}</strong>
      </p>
    </div>
  </div>
</div>
